spring:
    application:
      name: barbearia-api

    profiles:
        active: dev
    
    jackson:
        date-format: yyyy-MM-dd'T'HH:mm:ss
        time-zone: America/Sao_Paulo
    
server:
    port: 8080
    servlet:
        context-path: /api/v1

---

spring:
    config:
        activate:
            on-profile: dev
    datasource:
        url: jdbc:postgresql://localhost:5432/barbearia_db
        username: admin
        password: admin
    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: true
        properties:
            hibernate:
                '[format_sql]': true
    flyway:
        enabled: true
        locations: classpath:db/migration
logging:
    level:
        '[com.nettopro.barbearia]': DEBUG
        '[org.hibernate.SQL]': DEBUG

---

spring:
    config:
        activate:
            on-profile: prod
    datasource:
        url: ${DB_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
    jpa:
        hibernate:
            ddl-auto: validate

logging:
        level:
            root: WARN


    
        